# Created by MichaelCurrin
# https://gist.github.com/MichaelCurrin/a698731096f78240f653faf9a9127cba

name: Build and deploy

on:
    push:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@master
              with:
                  persist-credentials: false
                  submodules: true

            - name: Install
              run: npm install

            - name: Compile Module
              run: |
                  cd trianglify && npm run build

            - name: Build
              run: |
                  cd showcase && npm run build -- --base='/${{ github.event.repository.name }}/'
            - name: Deploy to GH Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./showcase/dist